<aside class="sidebar">
  <nav class="menu">
    <a
      *ngFor="let item of menu()"
      class="menu-item"
      [routerLink]="item.route"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: false }"
    >
      <lucide-icon
        *ngIf="item.icon"
        class="icon"
        [name]="item.icon">
      </lucide-icon>

      <span>{{ item.label }}</span>
    </a>
  </nav>

  <div class="sidebar-footer">
    <strong>{{ userName }}</strong>
    <small>{{ userRoleLabel }}</small>
    <small *ngIf="extraInfo">{{ extraInfo }}</small>
  </div>
</aside>
